.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  body{
     background:url('../../../assets/pic/gooddini.jpg'); 
     background-repeat: no-repeat;
     background-size:cover;
     margin-top: -100px;
     width: 1550px;
     height: 900px;
  }
  